:root {
  --surface-a:rgb(255, 255, 255);
  --surface-b:#fafafa;
  --surface-c:rgba(0,0,0,.04);
  --surface-d:rgba(0,0,0,.12);
  --surface-e:#ffffff;
  --surface-f:#ffffff;
  --text-color:rgba(0, 0, 0, 0.87);
  --text-color-secondary:textSecondaryColor;
  --primary-color-text:#ffffff;
  --font-family:Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  --surface-0: #ffffff;
  --surface-50: #FAFAFA;
  --surface-100: #F5F5F5;
  --surface-200: #EEEEEE;
  --surface-300: #E0E0E0;
  --surface-400: #BDBDBD;
  --surface-500: #9E9E9E;
  --surface-600: #757575;
  --surface-700: #616161;
  --surface-800: #424242;
  --surface-900: #212121;
  --content-padding:1rem;
  --inline-spacing:0.5rem;
  /* ==== NEW VARIABLES ==== */
  --primary:rgb(63, 81, 181);
  --primary-active:rgba(63, 81, 181, 0.68);
  --primary-focus:rgba(63, 81, 181, 0.76);
  --primary-hover:rgba(63, 81, 181, 0.92);
  --primary-background-01:rgba(63, 81, 181, 0.12);
  --primary-background-02:rgba(63, 81, 181, 0.5);
  --primary-background-03:rgba(63, 81, 181, 0.32);
  --primary-background-04:rgba(63, 81, 181, 0.04);
  --primary-background-05:rgba(63, 81, 181, 0.16);
  --secondary:rgb(255, 64, 129);
  --secondary-hover:rgba(255, 64, 129, 0.92);
  --secondary-active:rgba(255, 64, 129, 0.68);
  --secondary-focus:rgba(255, 64, 129, 0.76);
  --success:rgb(104, 159, 56);
  --success-hover:rgba(104, 159, 56, 0.92);
  --success-active:rgba(104, 159, 56, 0.68);
  --success-focus:rgba(104, 159, 56, 0.76);
  --info:rgb(33, 150, 243);
  --info-hover:rgba(33, 150, 243, 0.92);
  --info-active:rgba(33, 150, 243, 0.68);
  --info-focus:rgba(33, 150, 243, 0.76);
  --warning:rgb(251, 192, 45);
  --warning-hover:rgba(251, 192, 45, 0.92);
  --warning-active:rgba(251, 192, 45, 0.68);
  --warning-focus:rgba(251, 192, 45, 0.76);
  --help:rgb(156, 39, 176);
  --help-hover:rgba(156, 39, 176, 0.92);
  --help-active:rgba(156, 39, 176, 0.68);
  --help-focus:rgba(156, 39, 176, 0.76);
  --danger:rgb(211, 47, 47);
  --danger-hover:rgba(211, 47, 47, 0.92);
  --danger-active:rgba(211, 47, 47, 0.68);
  --danger-focus:rgba(211, 47, 47, 0.76);
  --error:rgb(176, 0, 32);
  --border-radius:0.5rem;
  --box-shadow:rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
  --box-shadow-01:rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}
